<ng-container *ngFor="let component of data; let i = index">
  <ng-container [ngSwitch]="component.__component">
    <section *ngSwitchCase="'cms.content'" class="container mx-auto">
      <app-wysiwyg [data]="component"/>
    </section>
    <section *ngSwitchCase="'cms.image'" class="container mx-auto">
      <app-image [data]="component"/>
    </section>
    <section *ngSwitchCase="'cms.content-image'" class="container mx-auto">
      <app-image-wysiwyg [data]="component"/>
    </section>
    <section *ngSwitchCase="'cms.space'" class="container mx-auto">
      <app-space [data]="component"/>
    </section>
    <section *ngSwitchCase="'cms.button'" class="container mx-auto">
      <app-link [data]="component"/>
    </section>
    <section *ngSwitchCase="'cms.accordion'" class="container mx-auto">
      <app-accordion [data]="component"/>
    </section>
  </ng-container>
</ng-container>
