<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <nav>
      <ul>
        <ng-container *ngFor="let item of strapiData">
          <li><a [routerLink]="item.to" routerLinkActive="bg-red-500" ariaCurrentWhenActive="page">{{ item.label }}</a></li>
        </ng-container>
      </ul>
    </nav>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>



    <main>
      <router-outlet />
    </main>
    <footer>Footer</footer>

  </mat-drawer-content>


</mat-drawer-container>
