nav svg {
  height: 45px;
}

mat-drawer {
  padding-top: 25px;
  background: black;
}

mat-drawer-content {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #030712;
  color: white;
}
