<cdk-accordion class="w-full">
  @for (item of data.accordion; track item; let index = $index) {
    <cdk-accordion-item #accordionItem="cdkAccordionItem">
      <button
        class="bg-gray-100 w-full text-left p-3 flex justify-between"
        (click)="accordionItem.toggle()"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        {{ item.title }}
        <span class="example-accordion-item-description">
         <i-lucide name="{{ accordionItem.expanded ? 'chevron-up' : 'chevron-down' }}"
                   [size]="25"
                   [strokeWidth]="1">
         </i-lucide>
      </span>
      </button>
      @if (accordionItem.expanded) {
        <div
          class="my-3 p-2 border-s border-gray-300"
          role="region"
          [style.display]="accordionItem.expanded ? '' : 'none'"
          [attr.id]="'accordion-body-' + index"
          [attr.aria-labelledby]="'accordion-header-' + index"
          [innerHTML]="item.description"
        >
        </div>
      }
    </cdk-accordion-item>
  }
</cdk-accordion>
